<a href="https://colab.research.google.com/github/andrewshiva/Eda-on-Walmart-Sales-Forecast/blob/master/eda%20on%20walmart%20sales%20data%20set%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import sweetviz as sv
import pandas as pd
df = pd.read_csv('/content/features.csv')
train_df = pd.read_csv('/content/train.csv')
test_df = pd.read_csv('/content/test.csv')
features_df = pd.read_csv('/content/features.csv')
store_df =pd.read_csv('/content/stores.csv')
df.head()

   Store        Date  Temperature  ...         CPI  Unemployment  IsHoliday
0      1  2010-02-05        42.31  ...  211.096358         8.106      False
1      1  2010-02-12        38.51  ...  211.242170         8.106       True
2      1  2010-02-19        39.93  ...  211.289143         8.106      False
3      1  2010-02-26        46.63  ...  211.319643         8.106      False
4      1  2010-03-05        46.50  ...  211.350143         8.106      False

[5 rows x 12 columns]

In [12]:
my_report = sv.analyze(df)
my_report.show_html()

:FEATURES DONE:                    |                     | [  0%]   00:05  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [41]:
train_df.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [42]:
my_report = sv.analyze([train_df,"Training"],target_feat='Weekly_Sales')

                                   |                         | [  0%]   00:00  -> (? left)


Summarizing dataframe:             |                         | [  0%]   00:00  -> (? left)


Summarizing dataframe:             |███▌                 | [ 17%]   00:00  -> (00:00 left)


:TARGET::                          |███▌                 | [ 17%]   00:00  -> (00:00 left)


:TARGET::                          |███████              | [ 33%]   00:01  -> (00:01 left)


:Store:                            |███████              | [ 33%]   00:01  -> (00:01 left)


:Store:                            |██████████▌          | [ 50%]   00:01  -> (00:01 left)


:Dept:                             |██████████▌          | [ 50%]   00:01  -> (00:01 left)


:Dept:                             |██████████████       | [ 67%]   00:03  -> (00:01 left)


:Date:                             |██████████████       | [ 67%]   00:03  -> (00:01 left)


:Date:                             |█████████████████▌   | [ 83%]   00:03  -> (00:00 left)


:IsHoliday:                        |█████████████████▌   | [ 83%]   00:03  -> (00:00 left)


:IsHoliday:                        |█████████████████████| [100%]   00:03  -> (00:00 left)


:FEATURES DONE:                    |█████████████████████| [100%]   00:03  -> (00:00 left)



                                   |                         | [  0%]   00:00  -> (? left)


:Processing Pairwise Features:     |                         | [  0%]   00:00  -> (? left)


:Processing Pairwise Features:     |█████████████████████| [100%]   00:00  -> (00:00 left)


:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [33]:
my_report.show_html('Report.html')

In [34]:
test_df.tail()

        Store  Dept        Date  IsHoliday
115059     45    98  2013-06-28      False
115060     45    98  2013-07-05      False
115061     45    98  2013-07-12      False
115062     45    98  2013-07-19      False
115063     45    98  2013-07-26      False

In [35]:
features_df.head()

   Store        Date  Temperature  ...         CPI  Unemployment  IsHoliday
0      1  2010-02-05        42.31  ...  211.096358         8.106      False
1      1  2010-02-12        38.51  ...  211.242170         8.106       True
2      1  2010-02-19        39.93  ...  211.289143         8.106      False
3      1  2010-02-26        46.63  ...  211.319643         8.106      False
4      1  2010-03-05        46.50  ...  211.350143         8.106      False

[5 rows x 12 columns]

In [38]:
store_df.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [50]:
my_report1 = sv.compare([train_df,"Train"], [test_df,"Test"],"Weekly_Sales")

                                   |                         | [  0%]   00:00  -> (? left)


Summarizing dataframe:             |                         | [  0%]   00:00  -> (? left)


Summarizing dataframe:             |███▌                 | [ 17%]   00:00  -> (00:01 left)


:TARGET::                          |███▌                 | [ 17%]   00:00  -> (00:01 left)


:TARGET::                          |███████              | [ 33%]   00:01  -> (00:01 left)


:Store:                            |███████              | [ 33%]   00:01  -> (00:01 left)


:Store:                            |██████████▌          | [ 50%]   00:02  -> (00:02 left)


:Dept:                             |██████████▌          | [ 50%]   00:02  -> (00:02 left)


:Dept:                             |██████████████       | [ 67%]   00:04  -> (00:02 left)


:Date:                             |██████████████       | [ 67%]   00:04  -> (00:02 left)


:Date:                             |█████████████████▌   | [ 83%]   00:04  -> (00:00 left)


:IsHoliday:                        |█████████████████▌   | [ 83%]   00:04  -> (00:00 left)


:IsHoliday:                        |█████████████████████| [100%]   00:05  -> (00:00 left)


:FEATURES DONE:                    |█████████████████████| [100%]   00:05  -> (00:00 left)



                                   |                         | [  0%]   00:00  -> (? left)


:Processing Pairwise Features:     |                         | [  0%]   00:00  -> (? left)


:Processing Pairwise Features:     |█████████████████████| [100%]   00:00  -> (00:00 left)


:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [59]:
my_report1.show_html('Report.html')